# Economic Data (Exogenous Variables)

In this section we will present the economic data which will be used as supporting features: 

- **Consumer Price Index**: Consumer price index is sourced from the Statistisches Bundesamt. [Link](https://www-genesis.destatis.de/datenbank/online/statistic/61111/table/61111-0002)
- **Deposit Facility Rate**: Deposit facility rate data is sourced from Deutsche Bundesbank. [Link](https://www.bundesbank.de/dynamic/action/en/statistics/time-series-databases/time-series-databases/759784/759784?listId=www_szista_mb01)
- **Employment Level:** Employment level data is available at Deutsche Bundesbank. [Link](https://www.bundesbank.de/dynamic/action/en/statistics/time-series-databases/time-series-databases/745582/745582?tsId=BBDL1.M.DE.N.EMP.EBA000.A0000.A00.D00.0.ABA.A&listId=www_siws_mb09_06b&dateSelect=2025
)
- **Gross Domestic Product:** GDP Data is available at Deutsche Bundesbank Website. [Link](https://www.bundesbank.de/dynamic/action/en/statistics/time-series-databases/time-series-databases/745582/745582?listId=www_ssb_lr_bip&tsId=BBNZ1.Q.DE.N.H.0000.L&dateSelect=2025)
- **Marginal Lending Rate**: Marginal Lending Rate is available at Deutsche Bundesbank Website. [Link](https://www.bundesbank.de/dynamic/action/en/statistics/time-series-databases/time-series-databases/759784/759784?listId=www_szista_mb01)
- **Historical Oil Prices**: The historical oil prices are available at the European Commission Website. [Link](https://energy.ec.europa.eu/data-and-analysis/weekly-oil-bulletin_en)

All the raw data is stored in the folder `data/raw`, that is what is called `bronze` data. With the following structure:

```bash
.
├── bundesbank
│   ├── CB_marginal_lending_facility_rate.csv
│   ├── ECB_deposit_facility_rate.csv
│   ├── employment_level_germany.csv
│   └── germany_GDP.csv
├── european_commission
│   └── Weekly_Oil_Bulletin_Prices_History_maticni_4web.xlsx
└── statistisches_bundesamt
    ├── consumer_price_index.xlsx
    └── population.csv
```

After loading and cleaning the data, the silver data is stored under the folder `data/processed` and has the following structure :

```bash
.
├── historical_consumer_price_index.parquet
├── historical_deposit_rate.parquet
├── historical_employment_level_germany.parquet
├── historical_GDP_germany.parquet
├── historical_lending_rate.parquet
└── historical_oil_prices.parquet
```

In [1]:
import pandas as pd

## Consumer Price Index

The consumer price index data is tranformed from bronze to silver using the script `neuralts/data_preparation/load_consumer_price_index.py`. 
The dataset contains the following columns:

- **Date**: The date of the observation in datetime format YYYY-MM-DD
- **Year**: The year of the observation
- **Month**: The month of the observation (1-12)
- **consumer_price_index**: The consumer price index value (base year 2020=100)
- **YoY_change**: Year-over-Year percentage change in the consumer price index
- **MoM_change**: Month-over-Month percentage change in the consumer price index

The dataset spans from January 2018 to October 2025, containing 94 monthly observations.

In [25]:
storage_path = "../data/processed/historical_consumer_price_index.parquet"
df = pd.read_parquet(storage_path, engine='pyarrow')
df.head()

   Year  Month  consumer_price_index  YoY_change  MoM_change       Date
0  2018      1                  96.4         1.4      0.0031 2018-01-31
1  2018      2                  96.7         1.2      0.0031 2018-02-28
2  2018      3                  97.2         1.5      0.0052 2018-03-31
3  2018      4                  97.5         1.4      0.0031 2018-04-30
4  2018      5                  98.2         2.1      0.0072 2018-05-31

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  94 non-null     object
 1   Month                 94 non-null     int32
 2   consumer_price_index  94 non-null     float64
 3   YoY_change            94 non-null     float64
 4   MoM_change            94 non-null     float64
 5   Date                  94 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int32(1), object(1)
memory usage: 4.2+ KB

In [27]:
df.describe()

,Month,consumer_price_index,YoY_change,MoM_change,Date
count,94.000000,94.000000,94.000000,94.000000,94
mean,6.393617,108.289362,3.028723,0.002639,2021-12-14 22:43:24.255319040
min,1.000000,96.400000,-0.600000,-0.008100,2018-01-31 00:00:00
25%,3.250000,99.825000,1.525000,0.000800,2020-01-07 18:00:00
50%,6.000000,104.600000,2.200000,0.002600,2021-12-15 12:00:00
75%,9.000000,117.575000,4.175000,0.004275,2023-11-22 12:00:00
max,12.000000,123.000000,8.800000,0.019800,2025-10-31 00:00:00
std,3.427335,9.074275,2.370138,0.004283,NaN

## Deposit Facility Rate

The consumer price index data is tranformed from bronze to silver using the script `neuralts/data_preparation/load_deposit_rate.py`. The data contains the following columns: 

- **Date**: The date of the observation in datetime format YYYY-MM-DD HH:MM
- **Deposit_Rate**: The ECB deposit facility rate value
- **Deposit_Rate_Change**: Absolute change in the deposit rate from the previous month
- **Deposit_Rate_Relative_Change**: Relative (percentage) change in the deposit rate from the previous month
- **Deposit_Rate_YoY_Change**: Year-over-Year absolute change in the deposit rate
- **Deposit_Rate_YoY_Relative_Change**: Year-over-Year relative (percentage) change in the deposit rate

The dataset spans from January 1999 to October 2025, containing 322 monthly observations.

In [33]:
storage_path = "../data/processed/historical_deposit_rate.parquet"
df = pd.read_parquet(storage_path, engine='pyarrow')
df.head()

,Date,Deposit_Rate,Deposit_Rate_Change,Deposit_Rate_Relative_Change,Deposit_Rate_YoY_Change,Deposit_Rate_YoY_Relative_Change
0,1999-01-31,2.0,0.0,0.00,0.0,0.0
1,1999-02-28,2.0,0.0,0.00,0.0,0.0
2,1999-03-31,2.0,0.0,0.00,0.0,0.0
3,1999-04-30,1.5,-0.5,-0.25,0.0,0.0
4,1999-05-31,1.5,0.0,0.00,0.0,0.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              322 non-null    datetime64[ns]
 1   Deposit_Rate                      322 non-null    float64
 2   Deposit_Rate_Change               322 non-null    float64
 3   Deposit_Rate_Relative_Change      322 non-null    float64
 4   Deposit_Rate_YoY_Change           322 non-null    float64
 5   Deposit_Rate_YoY_Relative_Change  322 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 15.2 KB

In [32]:
df.describe()

/Users/johtorr/Documents/Repos/neural_networks_project_hdm/.venv/lib/python3.12/site-packages/numpy/_core/_methods.py:51: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,Date,Deposit_Rate,Deposit_Rate_Change,Deposit_Rate_Relative_Change,Deposit_Rate_YoY_Change,Deposit_Rate_YoY_Relative_Change
count,322,322.000000,322.000000,322.000000,322.000000,322.00
mean,2012-06-15 02:00:44.720496896,1.065217,0.000000,0.003384,0.026398,NaN
min,1999-01-31 00:00:00,-0.500000,-1.000000,-1.000000,-3.000000,-inf
25%,2005-10-07 18:00:00,-0.200000,0.000000,0.000000,-0.200000,-0.40
50%,2012-06-15 00:00:00,0.750000,0.000000,0.000000,0.000000,0.00
75%,2019-02-21 00:00:00,2.250000,0.000000,0.000000,0.250000,0.25
max,2025-10-31 00:00:00,4.000000,0.750000,1.000000,4.000000,inf
std,NaN,1.428597,0.159585,0.156666,1.062107,NaN

## Employment Level

The consumer price index data is tranformed from bronze to silver using the script `neuralts/data_preparation/load_emmployment_level.py`. The data contains the following columns: 

- **Date**: The date of the observation in datetime format
- **Employment_Level**: The total employment level in Germany
- **Month**: The month of the observation (1-12)
- **Year**: The year of the observation
- **Employment_Level_Change**: Absolute change in employment level from the previous month
- **Employment_Level_Relative_Change**: Relative (percentage) change in employment level from the previous month
- **Employment_Level_YoY_Change**: Year-over-Year absolute change in employment level
- **Employment_Level_YoY_Relative_Change**: Year-over-Year relative (percentage) change in employment level
- **Employment_Level_MA_3**: 3-month moving average of employment level
- **Employment_Level_MA_6**: 6-month moving average of employment level

The dataset spans from June 1999 to September 2025, containing 316 monthly observations.

In [34]:
storage_path = "../data/processed/historical_employment_level_germany.parquet"
df = pd.read_parquet(storage_path, engine='pyarrow')
df.head()

,Date,Employment_Level,Month,Year,Employment_Level_Change,Employment_Level_Relative_Change,Employment_Level_YoY_Change,Employment_Level_YoY_Relative_Change,Employment_Level_MA_3,Employment_Level_MA_6
0,1999-06-30,27418361,6,1999,-123568.0,-0.00451,423412.0,0.01544,2.741704e+07,2.766325e+07
1,1999-07-31,27294793,7,1999,-123568.0,-0.00451,423412.0,0.01544,2.741704e+07,2.766325e+07
2,1999-08-31,27537965,8,1999,243172.0,0.00891,423412.0,0.01544,2.741704e+07,2.766325e+07
3,1999-09-30,27858014,9,1999,320049.0,0.01162,423412.0,0.01544,2.756359e+07,2.766325e+07
4,1999-10-31,27874461,10,1999,16447.0,0.00059,423412.0,0.01544,2.775681e+07,2.766325e+07

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  316 non-null    datetime64[ns]
 1   Employment_Level                      316 non-null    int64
 2   Month                                 316 non-null    int32
 3   Year                                  316 non-null    int32
 4   Employment_Level_Change               316 non-null    float64
 5   Employment_Level_Relative_Change      316 non-null    float64
 6   Employment_Level_YoY_Change           316 non-null    float64
 7   Employment_Level_YoY_Relative_Change  316 non-null    float64
 8   Employment_Level_MA_3                 316 non-null    float64
 9   Employment_Level_MA_6                 316 non-null    float64
dtypes: datetime64[ns](1), float64(6), int32(2), int64(1)
memory usage: 22.3 KB

In [36]:
df.describe()

,Date,Employment_Level,Month,Year,Employment_Level_Change,Employment_Level_Relative_Change,Employment_Level_YoY_Change,Employment_Level_YoY_Relative_Change,Employment_Level_MA_3,Employment_Level_MA_6
count,316,3.160000e+02,316.000000,316.000000,316.000000,316.000000,316.000000,316.000000,3.160000e+02,3.160000e+02
mean,2012-08-14 23:09:52.405063168,3.014790e+07,6.512658,2012.082278,24335.984177,0.000795,293890.572785,0.009631,3.012361e+07,3.009122e+07
min,1999-06-30 00:00:00,2.600877e+07,1.000000,1999.000000,-436714.000000,-0.015670,-838062.000000,-0.030230,2.605754e+07,2.616675e+07
25%,2006-01-23 06:00:00,2.762020e+07,4.000000,2005.750000,-67052.500000,-0.002175,18215.500000,0.000520,2.763532e+07,2.766325e+07
50%,2012-08-15 12:00:00,2.931175e+07,7.000000,2012.000000,29609.000000,0.001020,423412.000000,0.014325,2.930600e+07,2.921745e+07
75%,2019-03-07 18:00:00,3.332423e+07,9.000000,2019.000000,117163.000000,0.004035,627002.250000,0.020755,3.332516e+07,3.330555e+07
max,2025-09-30 00:00:00,3.523686e+07,12.000000,2025.000000,350527.000000,0.012440,808602.000000,0.028770,3.522653e+07,3.507294e+07
std,NaN,2.981013e+06,3.439707,7.622411,161127.585580,0.005496,392342.879226,0.013538,2.969078e+06,2.950246e+06

## Gross Domestic Product (GDP) Data

The consumer price index data is tranformed from bronze to silver using the script `neuralts/data_preparation/load_gpd.py`. The data contains the following columns: 

- **Date**: The date of the observation in datetime format
- **GDP**: The Gross Domestic Product value for Germany (Basis Value 2020=100)
- **Month**: The month of the observation (1-12)
- **Year**: The year of the observation

The dataset spans from June 1970 to September 2025, containing 664 monthly observations.

In [37]:
storage_path = "../data/processed/historical_GDP_germany.parquet"
df = pd.read_parquet(storage_path, engine='pyarrow')
df.head()

        Date    GDP  Month  Year
0 1970-06-30  39.73      6  1970
1 1970-07-31  39.73      7  1970
2 1970-08-31  39.73      8  1970
3 1970-09-30  41.57      9  1970
4 1970-10-31  41.57     10  1970

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    664 non-null    datetime64[ns]
 1   GDP     664 non-null    float64
 2   Month   664 non-null    int32
 3   Year    664 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(2)
memory usage: 15.7 KB

In [39]:
df.describe()

                                Date         GDP       Month         Year
count                            664  664.000000  664.000000   664.000000
mean   1998-02-13 19:59:16.626505984   75.196295    6.506024  1997.582831
min              1970-06-30 00:00:00   38.870000    1.000000  1970.000000
25%              1984-04-22 12:00:00   55.240000    4.000000  1984.000000
50%              1998-02-14 00:00:00   77.240000    7.000000  1998.000000
75%              2011-12-07 18:00:00   92.087500    9.000000  2011.000000
max              2025-09-30 00:00:00  107.020000   12.000000  2025.000000
std                              NaN   20.291426    3.446198    15.989507

## Marginal Lending Rate

The consumer price index data is tranformed from bronze to silver using the script `neuralts/data_preparation/load_lending_rate.py`. The data contains the following columns: 

- **Date**: The date of the observation in datetime format
- **Lending_Rate**: The ECB marginal lending facility rate value
- **Lending_Rate_Change**: Absolute change in the lending rate from the previous month
- **Lending_Rate_Relative_Change**: Relative (percentage) change in the lending rate from the previous month
- **Lending_Rate_YoY_Change**: Year-over-Year absolute change in the lending rate
- **Lending_Rate_YoY_Relative_Change**: Year-over-Year relative (percentage) change in the lending rate

The dataset spans from January 1999 to October 2025, containing 322 monthly observations.

In [43]:
storage_path = "../data/processed/historical_lending_rate.parquet"
df = pd.read_parquet(storage_path, engine='pyarrow')
df.head()

,Date,Lending_Rate,Lending_Rate_Change,Lending_Rate_Relative_Change,Lending_Rate_YoY_Change,Lending_Rate_YoY_Relative_Change
0,1999-01-31,4.5,0.0,0.00000,-0.5,-0.11111
1,1999-02-28,4.5,0.0,0.00000,-0.5,-0.11111
2,1999-03-31,4.5,0.0,0.00000,-0.5,-0.11111
3,1999-04-30,3.5,-1.0,-0.22222,-0.5,-0.11111
4,1999-05-31,3.5,0.0,0.00000,-0.5,-0.11111

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              322 non-null    datetime64[ns]
 1   Lending_Rate                      322 non-null    float64
 2   Lending_Rate_Change               322 non-null    float64
 3   Lending_Rate_Relative_Change      322 non-null    float64
 4   Lending_Rate_YoY_Change           322 non-null    float64
 5   Lending_Rate_YoY_Relative_Change  322 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 15.2 KB

In [42]:
df.describe()

,Date,Lending_Rate,Lending_Rate_Change,Lending_Rate_Relative_Change,Lending_Rate_YoY_Change,Lending_Rate_YoY_Relative_Change
count,322,322.000000,322.000000,322.000000,322.000000,322.000000
mean,2012-06-15 02:00:44.720496896,2.364752,-0.006522,0.004136,-0.056522,0.327213
min,1999-01-31 00:00:00,0.250000,-1.000000,-0.466670,-3.500000,-0.700000
25%,2005-10-07 18:00:00,0.300000,0.000000,0.000000,-0.500000,-0.200000
50%,2012-06-15 00:00:00,2.250000,0.000000,0.000000,0.000000,0.000000
75%,2019-02-21 00:00:00,4.000000,0.000000,0.000000,0.250000,0.047620
max,2025-10-31 00:00:00,5.750000,0.750000,2.000000,4.000000,16.000000
std,NaN,1.795080,0.175228,0.140790,1.118579,2.076971

## Oil Prices

The consumer price index data is tranformed from bronze to silver using the script `neuralts/data_preparation/load_oil_prices.py`. The data contains the following columns: 

- **Date**: The date of the observation in datetime format
- **GR_price_with_tax_euro95**: Price of Euro95 gasoline with tax in Germany
- **GR_price_with_tax_diesel**: Price of diesel with tax in Germany
- **GR_price_with_tax_heGRing_oil**: Price of heating oil with tax in Germany
- **GR_price_with_tax_fuel_oil_1**: Price of fuel oil type 1 with tax in Germany

The dataset spans from January 2005 to November 2025, containing 251 monthly observations.

In [48]:
storage_path = "../data/processed/historical_oil_prices.parquet"
df = pd.read_parquet(storage_path, engine='pyarrow')
df.head()

,Date,GR_price_with_tax_euro95,GR_price_with_tax_diesel,GR_price_with_tax_heGRing_oil,GR_price_with_tax_fuel_oil_1
0,2005-01-31,796.0,782.0,438.0,227.70
1,2005-02-28,806.0,790.0,448.0,238.80
2,2005-03-31,823.0,862.0,492.0,251.03
3,2005-04-30,873.0,870.0,517.0,266.36
4,2005-05-31,852.0,841.0,841.0,267.60

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           251 non-null    datetime64[ns]
 1   GR_price_with_tax_euro95       251 non-null    float64
 2   GR_price_with_tax_diesel       251 non-null    float64
 3   GR_price_with_tax_heGRing_oil  251 non-null    float64
 4   GR_price_with_tax_fuel_oil_1   251 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 9.9 KB

In [47]:
df.describe()

,Date,GR_price_with_tax_euro95,GR_price_with_tax_diesel,GR_price_with_tax_heGRing_oil,GR_price_with_tax_fuel_oil_1
count,251,251.000000,251.000000,251.000000,251.000000
mean,2015-07-01 01:20:19.123505920,1494.892430,1313.792829,1013.274263,490.265737
min,2005-01-31 00:00:00,796.000000,782.000000,438.000000,227.700000
25%,2010-04-15 00:00:00,1310.000000,1108.000000,837.000000,375.600000
50%,2015-06-30 00:00:00,1562.000000,1341.000000,1010.000000,484.520000
75%,2020-09-15 00:00:00,1711.500000,1481.000000,1231.725000,611.690000
max,2025-11-30 00:00:00,2400.000000,2126.000000,1606.000000,718.690000
std,NaN,330.370096,264.610818,261.701910,134.565496

## Conclusion: Exogenous Variables for Vehicle Registration Forecasting

We can observe that these economic indicators serve as crucial supporting features for predicting automotive registration trends, capturing the macroeconomic forces that influence consumer purchasing behavior and market dynamics.

**Consumer Price Index**: Inflation dynamics directly affect purchasing power and vehicle affordability, with higher inflation potentially dampening registration volumes.

**Deposit Facility Rate**: ECB monetary policy signals borrowing costs and economic conditions, directly impacting auto loan affordability. Rate increases typically correlate with reduced vehicle financing demand, particularly for premium segments.

**Employment Level**: Employment stability is a fundamental driver of consumer confidence and purchasing capability for vehicles. The moving averages smooth seasonal variations and reveal underlying labor market trends that precede registration changes.

**Gross Domestic Product (GDP)**: GDP growth reflects overall economic health and wealth creation, establishing the baseline for automotive market expansion or contraction. Economic cycles captured in GDP strongly correlate with discretionary spending on vehicles.

**Marginal Lending Rate**: This upper bound of the ECB interest rate corridor influences commercial lending conditions and dealer financing costs.

**Oil Prices**: Rising fuel prices historically accelerate the transition to more efficient or alternative powertrains, making this a critical segmentation predictor.

These six data sources provide a comprehensive macroeconomic context that, when combined with the temporal patterns in registration data might enable models to distinguish between cyclical fluctuations, structural shifts, and trend-driven changes in the German automotive market.